# xmpp properties
xmpp.host=127.0.0.1
xmpp.port=5347
xmpp.subdomain=pusher.buddycloud.com
xmpp.secretkey=secret

# JDBC
jdbc.url=jdbc:postgresql://localhost:5432/buddycloud-pusher?user=postgres&password=postgresql

# channel server jid
channel.server=buddycloud.example.com

# SMTP
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.example.com
mail.smtp.port=587
mail.username=admin@pusher.buddycloud.com
mail.password=password

# mail template
mail.template.SENDER_EMAIL=admin@pusher.buddycloud.com
mail.template.DOMAIN_NAME=buddycloud.com
mail.template.TOPICS_DOMAIN_NAME=topics.buddycloud.org
mail.template.WEB_CLIENT_URL=https://demo.buddycloud.org
mail.template.ADMIN_NAME=The Admin

# GCM
gcm.google_project_id=
gcm.api_key=